body{

	background-color: yellow;
}

h1{
	color: red;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	padding-bottom: 50px;
	text-align: center;

}

p{
	color: green;
	font-size: 2em;

}

p span{
	font-size: 2em;

}